{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Basic Information</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" method="POST" action="{% url 'index' %}">
              <div class="card-body">
                {% csrf_token %}
                <div class="form-group">
                  <label>Official Website</label>
                  <input type="text" class="form-control" placeholder="https://" name="school_official_website" value="{{school_info_dict.school_official_website}}">
                </div>
                <div class="form-group">
                  <label>Contact Info URL</label>
                  <input type="text" class="form-control" placeholder="https://" name="school_contact_info"  value="{{school_info_dict.school_contact_info}}">
                </div>
                <div class="form-group">
                  <label>Newbie Info URL</label>
                  <input type="text" class="form-control" placeholder="https://" name="school_newbie_info" value="{{school_info_dict.school_newbie_info}}">
                </div>
                <div class="form-group">
                  <label>F&Q URL</label>
                  <input type="text" class="form-control" placeholder="https://" name="school_f_and_q" value="{{school_info_dict.school_f_and_q}}">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
    {% endblock %}