{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Exams</h3>
        </div>
        <!-- /.card-header -->

        <!-- table -->
        <div class="card-body">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default">Add Exam</button>
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Course</th>
                <th>Name</th>
                <th>Description</th>
                <th>Exam Time</th>
                <th>Exam Type</th>
                <th>Location</th>
                <th>Info</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for exam in exams %}
              <tr>
                {% for column in exam %}
                {% autoescape off %}
                <td>{{ column }}</td>
                {% endautoescape %}
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
        <!-- table -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
</div><!-- /.container-fluid -->

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Exam</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <div class="form-group">
          <label>Course</label>
          <select name="course_id" class="form-control" required="required">
            {% for course in courses %}
            <option value="{{course.id}}">{{course.course_template.name}}({{course.course_template.course_code}})-{{course.grade}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="" name="name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" placeholder="" name="description">
        </div>
        <div class="form-group">
          <label>Exam Time</label>
          <div class="input-group date" id="exam_at" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#exam_at" name="exam_at"/>
            <div class="input-group-append" data-target="#exam_at" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        </div>
        <div class="form-group">
          <label>Exam Type</label>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exam_type" value="0">
              <label class="form-check-label">Offline</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exam_type" value="1">
              <label class="form-check-label">Online</label>
            </div>
          </div>

        </div>
        <div class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" placeholder="" name="location">
        </div>
        <div class="form-group">
          <label>Info Online Page URL</label>
          <input type="text" class="form-control" placeholder="" name="url">
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button id="quit-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save-exam-button" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-update">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="update_exam_id">
        <div class="form-group">
          <label>Course</label>
          <select name="update_course_id" class="form-control" required="required">
            {% for course in courses %}
            <option value="{{course.id}}">{{course.course_template.name}}({{course.course_template.course_code}})-{{course.grade}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="" name="update_name">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" placeholder="" name="update_description">
        </div>

        <div class="form-group">
          <label>Exam Time</label>
          <div class="input-group date" id="update_exam_at" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#update_exam_at" name="update_exam_at"/>
            <div class="input-group-append" data-target="#update_exam_at" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        </div>
        <div class="form-group">
          <label>Exam Type</label>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="update_exam_type" value="0">
              <label class="form-check-label">Offline</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="update_exam_type" value="1">
              <label class="form-check-label">Online</label>
            </div>
          </div>

        </div>
        <div class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" placeholder="" name="update_location">
        </div>
        <div class="form-group">
          <label>Info Online Page URL</label>
          <input type="text" class="form-control" placeholder="" name="update_url">
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="update-exam-button" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <input type="hidden" name="exam_id">
      <div class="modal-body">
        <p>Do you really want to delete it?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="delete-exam-button">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% load static %}
{% block custom_css %}
<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

<!-- Toastr -->
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
{% endblock %}

{% block custom_javascript %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<script>
  let datatable = null;
  /** init data table */
  function init_datatable() {
    console.log('init datatable ...');
    datatable = $('#example1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  }
  /** init data table */

  // init datetime picker
  function init_datetime_picker() {
    $("#exam_at").datetimepicker({
      icons: {
          time: "fa fa-clock",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down"
      },
      format: "YYYY-MM-DD HH:mm:ss"
    });

    $("#update_exam_at").datetimepicker({
      icons: {
          time: "fa fa-clock",
          date: "fa fa-calendar",
          up: "fa fa-arrow-up",
          down: "fa fa-arrow-down"
      },
      format: "YYYY-MM-DD HH:mm:ss"
    });
  }
  // init datetime picker

  // show message or error
  function show_message(message_type, content) {
    if (message_type == 'Info') {
      console.log('display toastr');
      toastr.success(content);
    } else {
      console.log('display toastr');
      toastr.error(content);
    }
  }
  // show message or error

  // reset table data
  function reset_tabledata(data) {
    datatable.clear();
    datatable.rows.add(data).draw();
  }
  // reset table data

  // delete this row
  function delete_row(id) {
    // input id to teaching assistant id
    console.log($("[name='exam_id']")[0]);
    $("[name='exam_id']")[0].value = id;

    // display modal
    $("#modal-sm").modal("show");
  }
  // delete this row

  // update this row
  function update_row(button, id) {
    // input id to teaching assistant id
    $("[name='update_exam_id']")[0].value = id;
    console.log($("[name='update_exam_id']")[0]);

    let row = button.parent().parent(':first').children();
    let course_id = row.eq(0).children(":first").attr("data-course_id");
    $("[name='update_name']")[0].value = row.eq(1).text();
    $("[name='update_description']")[0].value = row.eq(2).text();
    $("[name='update_exam_at']")[0].value = row.eq(3).text();
    let exam_type = row.eq(4).text();
    $("[name='update_location']")[0].value = row.eq(5).text();
    $("[name='update_url']")[0].value = row.eq(6).text();

    // select course
    console.log('update course id: ', course_id);
    $("[name='update_course_id']").val(course_id);


    // select exam type
    if (exam_type == 'Online') {
      $("[name='update_exam_type'][value='1']").prop("checked",true);
    } else {
      $("[name='update_exam_type'][value='0']").prop("checked",true);
    }

    // display modal
    $("#modal-update").modal("show");
  }
  // update this row

  // init confirm delete row 
  function init_delete() {
    console.log('init delete row button ...');
    $('#delete-exam-button').click(function () {
      // get all inputs, then post and get result
      let exam_id = $("[name='exam_id']")[0].value;
      // get csrf token
      let csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
      // get csrf token

      // debug
      window.console.log('exam_id=', exam_id)
      // debug
      let data = {
        csrfmiddlewaretoken: csrfmiddlewaretoken,
        exam_id: exam_id,
      };

      // the id in example url is zero
      let example_url = "{% url 'exam_delete_or_update' 0 %}";
      let target_url = example_url.substring(0, example_url.length - 1) + exam_id;

      console.log('example url:', example_url);
      console.log('target url:', target_url);

      $.ajax({
        url: target_url,
        type: "DELETE",
        headers: {
          'X-CSRFToken': csrfmiddlewaretoken
        },
        data: data,
        dataType: "json",
        success: function (data) {
          let status = data.status;
          let message = data.message;

          if (status == 'success') {
            reset_tabledata(data.data.table);
            $('#modal-sm').modal('toggle');
            show_message('Info', message);
          } else {
            show_message('Error', message);
          }

        },
        error: function (jqXHR, textStatus, err) {
          console.log(arguments);
          show_message('Error', err);
        },
        complete: function (jqXHR, textStatus) {
          console.log(textStatus);
          // show_message('Info', 'Done!');
        },
        statusCode: {
          '403': function (jqXHR, textStatus, err) {
            console.log(arguments);
            show_message('Error', err);
          },
          '400': function (jqXHR, textStatus, err) {
            console.log(arguments);
            show_message('Error', err);
          }
        }
      });
    });
  }
  // init confirm delete row 

  // init update row 
  function init_update() {
    console.log('init update row button ...');
    $('#update-exam-button').click(function () {
      // get all inputs, then post and get result
      let exam_id = $("[name='update_exam_id']")[0].value;
      let course_id = $("[name='update_course_id']").val();
      let name = $("[name='update_name']")[0].value;
      let description = $("[name='update_description']")[0].value;
      let exam_at = $("[name='update_exam_at']")[0].value;
      let exam_type = $("[name='update_exam_type']:checked").val();
      let location = $("[name='update_location']")[0].value;
      let url = $("[name='update_url']")[0].value;

      // get csrf token
      let csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
      // get csrf token

      // debug
      window.console.log('exam_id=', exam_id)
      // debug
      let data = {
        csrfmiddlewaretoken: csrfmiddlewaretoken,
        exam_id: exam_id,
        course_id: course_id,
        name: name,
        description: description,
        exam_at: exam_at,
        exam_type: exam_type,
        location: location,
        url: url
      };

      // the id in example url is zero
      let example_url = "{% url 'exam_delete_or_update' 0 %}";
      let target_url = example_url.substring(0, example_url.length - 1) + exam_id;

      console.log('example url:', example_url);
      console.log('target url:', target_url);

      $.ajax({
        url: target_url,
        type: "PUT",
        headers: {
          'X-CSRFToken': csrfmiddlewaretoken
        },
        data: data,
        dataType: "json",
        success: function (data) {
          let status = data.status;
          let message = data.message;

          if (status == 'success') {
            reset_tabledata(data.data.table);
            $('#modal-update').modal('hide');
            show_message('Info', message);
          } else {
            show_message('Error', message);
          }

        },
        error: function (jqXHR, textStatus, err) {
          console.log(arguments);
          show_message('Error', err);
        },
        complete: function (jqXHR, textStatus) {
          console.log(textStatus);
          // show_message('Info', 'Done!');
        },
        statusCode: {
          '403': function (jqXHR, textStatus, err) {
            console.log(arguments);
            show_message('Error', err);
          },
          '400': function (jqXHR, textStatus, err) {
            console.log(arguments);
            show_message('Error', err);
          }
        }
      });
    });
  }
  // init confirm delete row 


  // init add new row
  function init_add_new_row() {
    console.log('init add new row button ...');
    $('#save-exam-button').click(function () {
      // get all inputs, then post and get result
      let course_id = $("[name='course_id']").val();
      let name = $("[name='name']")[0].value;
      let description = $("[name='description']")[0].value;
      let exam_at = $("[name='exam_at']")[0].value;
      let exam_type = $("[name='exam_type']:checked").val();
      let location = $("[name='location']")[0].value;
      let url = $("[name='url']")[0].value;

      // get csrf token
      let csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
      // get csrf token

      let data = {
        csrfmiddlewaretoken: csrfmiddlewaretoken,
        course_id: course_id,
        name: name,
        description: description,
        exam_at: exam_at,
        exam_type: exam_type,
        location: location,
        url: url
      };

      // debug
      console.log('add exam:', data);
      // debug

      // get all inputs, then post and get result
      // if error, just show errors
      // if success, just show tables
      $.ajax({
        url: "{% url 'exam_post' %}",
        type: "POST",
        data: data,
        dataType: "json",
        success: function (data) {
          let status = data.status;
          let message = data.message;

          if (status == 'success') {
            reset_tabledata(data.data.table);
            $('#quit-modal').click();
            show_message('Info', message);
          } else {
            show_message('Error', message);
          }

        },
        error: function (jqXHR, textStatus, err) {
          console.log(arguments);
          show_message('Error', err);
        },
        complete: function (jqXHR, textStatus) {
          console.log(textStatus);
          // show_message('Info', 'Done!');
        },
        statusCode: {
          '403': function (jqXHR, textStatus, err) {
            console.log(arguments);
            show_message('Error', err);
          },
          '400': function (jqXHR, textStatus, err) {
            console.log(arguments);
            show_message('Error', err);
          }
        }
      });
    });
  }
  // init add new row

  // init
  function init() {
    console.log('init ...');
    init_datatable();
    init_datetime_picker();
    init_add_new_row();
    init_update();
    init_delete();
  }
  // init

  init();

</script>

{% endblock %}
